<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Ruby on rails includes head.ejs in home page -->
    <% include partials/head.ejs %>

  </head>
  <body>

    <% include partials/header.ejs %>

    <div id="hero-image">
      <h1 id="hero-title"><%= title %></h1>
    </div>

    <div id="posters-wrapper" class="content-padding clearfix">

      <% for (var i =0; i < photos.length; i++) { %>
        <div class="poster">
        <!-- This will get the images from the class called poster in images. -->
          <img src="/images/<%= photos[i].poster %>" class="img-responsive">
        </div>
      <% } %>

    </div>
    
    
    <!-- stopped at loop through photos -->


    <!-- Ruby on rails includes script.ejs in home page -->
    <% include partials/script.ejs %>
  </body>
</html>