<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Ruby on rails includes head.ejs in home page -->
    <% include partials/head.ejs %>

  </head>
  <body>

    <% include partials/header.ejs %>

    <div id="hero-image">
      <h1 id="hero-title"><%= title %></h1>
    </div>

    <h1 class="about_me">About</h1>
    <p class="about_me">Hi, I am Adam Gool. I am a photographer. I spend a lot of my time taking pictures of landscapes or moments that captures my eye. I have an eye for photography and always see things that people will miss. Check my pictures out and register to create your own post. :)</p>

    <div id="posters-wrapper" class="content-padding clearfix">
      <!-- Outputting the picture poster. -->
      <% for (var i =0; i < photos.length; i++) { %>

        <div class="poster">

          <a href="/photography_blog/<%= photos[i].episode_number %>">

          <!-- This will get the images from the class called poster in images. -->
            <img src="/images/<%= photos[i].poster %>" class="img-responsive">

            <!-- [i] is the current picture content. -->
            <div class="poster-info-overlay">
              <h3><%= photos[i].title %></h3>
              <h4>Click to Read More <i class="fa fa-arrow-right"></i></h4>
            </div>

        </a>

        </div>
      <% } %>

    </div>
    
    <!-- Ruby on rails includes script.ejs in home page -->
    <% include partials/footer.ejs %>
    <% include partials/script.ejs %>
  </body>
</html>