<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Ruby on rails includes head.ejs in home page -->
    <% include partials/head.ejs %>

  </head>
  <body>
    <h1>Hello, world!</h1>

    <div id="hero-image">
      <div><h1>Addy Pictures</h1></div>
      <div></div>
    </div>


    <!-- stopped at loop through photos -->


    <!-- Ruby on rails includes script.ejs in home page -->
    <% include partials/script.ejs %>
  </body>
</html>